@import "../../css/source/utilities/variables";

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 22px;
  transition: $easing;
}

// .sticky {
//  .header {
//    transition: $easing;
//    position: fixed;
//    top: 0;
//    left: 0;
//    right: 0;
//  }
// }

.admin-bar {
  .header {
    top: 32px;
  }
}


.wrapper-inner {
  .header {
    border-top: 3px solid $secondary;
  }
  .inner-header-spacer {
    height: 115px;
  }
  .header {
    box-shadow: 10.607px 10.607px 15px 0px rgba(0, 0, 0, 0.05);
    background-color: $white;
  }
}